{% extends "base.html" %}
{% load staticfiles %}

{% block body-tag %}
  <body class="be-splash-screen">
{% endblock %}

{%block page-container %}
  <div class="be-wrapper be-login">
    <div class="be-content">
      <div class="main-content container-fluid">
        <div class="splash-container forgot-password">
          <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading"></div>
            <div class="panel-body">
              <form action="/forgot/{{ uid }}/{{ token }}/" method="post">
                {% csrf_token %}
                <h4>You're back, we're happy that you found the path to change your password</h4>
                {% for field in form %}
                  <div class="form-group">
                  {{ field }}
                  </div>
                {% endfor %}
                <div class="form-group xs-pt-5">
                  <button type="submit" class="btn btn-block btn-primary btn-xl">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra-javascript %}
  <script src="{% static "lib/parsley/parsley.min.js" %} " type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      //initialize the javascript
      App.init();
      $('form').parsley();
    });
  </script>
{% endblock %}
